header {
  background-color: #f6d4f5;
  width: 100%;
}

p {
  font-family: "Courgette", cursive;
}

/*Placement des boutons menu*/
nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

nav a {
  text-decoration: none;
  list-style: none;
  color: black;
  text-transform: uppercase;
}

nav a:hover {
  background-color: #e48de1;
  transition: ease-in 0.2s;
}

/*Bar du haut*/
.topbar {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
}

/*Bouton mon panier*/

.right {
  display: flex;
  align-items: center;
  margin-right: 25px;
  width: fit-content;
}

.right i {
  color: #e48de1;
  font-size: 25px;
  margin-left: 5px;
}

.head-imagepanier {
  display: flex;
  justify-content: space-between;
}

#cart {
  margin-bottom: 80px;

  text-align: center;
}

/*Taille image*/
img {
  max-width: 100%;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

body {
  background-color: rgb(240, 233, 233);
}

/*image de présentations + phrases*/

#slider {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  position: relative;
}

#slider h2 {
  position: absolute;
  background-color: #f6d4f5;
  opacity: 0.8;
  padding: 10px;
  margin-top: 0px;
}

span {
  font-size: medium;
}

/*images escarpin */
#select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}



.escarpin:hover,
.escarpin1:hover {
  transition: ease-in-out;
  opacity: 0.5;
}

#select h1 {
  width: 100%;
  margin-left: 10px;
}

.escarpin1 {
  margin-top: 25px;
}

/*3 éléments*/

#news {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

#new {
  background-color: white;
  padding: 20px;
  text-align: center;
}

#best {
  background-color: white;
  padding: 20px;
  text-align: center;
}

#crush {
  background-color: white;
  padding: 20px;
  text-align: center;
}

/* couleur des titres 3 éléments*/
#new h2 {
  background-color: #e48de1;
  padding: 10px;
}

#best h2 {
  background-color: rgb(64, 179, 64);
  padding: 10px;
}

#crush h2 {
  background-color: rgb(77, 161, 209);
  padding: 10px;
}

h3 {
  font-family: "Courgette", cursive;
}

/*footer*/

footer {
  background-color: #e48de1;
}

#bottombar {
  background-color: #f6d4f5;
  display: flex;
  justify-content: space-around;
}

#info {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

#info article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive pour téléphone*/

@media screen and (max-width: 640px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    padding: 15px;
  }

  #slider h2 {
    position: inherit;
  }

  #news {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  #select {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #cart {
    display: none;
  }

  #info {
    display: flex;
    flex-direction: column;
  }

  #info article {
    padding: 10px;
  }

  #bottombar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container1 {
    text-align: center;
    width: 100%;
  }
}