header {
  background-color: #f6d4f5;
}

p {
  font-family: "Courgette", cursive;
}

/*Placement des boutons menu*/
nav {
  display: flex;
  flex-direction: row;
  margin-right: 40%;
  margin-left: 10%;
  padding: 15px;
}

nav a {
  text-decoration: none;
  list-style: none;
  margin-right: 20%;
  color: black;
  text-transform: uppercase;
  padding: 20px;
}

nav a:hover {
  background-color: #e48de1;
  transition: ease-in 0.2s;
}

/*Bar du haut*/
.topbar {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
}

/*Bouton mon panier*/

.right {
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: flex-end;
  margin-right: 25px;
  width: fit-content;
}

.right i {
  position: relative;
  left: 5%;
  color: #e48de1;
  font-size: 25px;
}

#cart {
  position: absolute;
  left: 85%;
  bottom: 88%;
  text-align: center;
}

/*Taille image*/
img {
  max-width: 100%;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

body {
  background-color: rgb(240, 233, 233);
}

/*image de présentations + phrases*/

#slider {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

#slider h2 {
  position: absolute;
  background-color: #f6d4f5;
  opacity: 0.8;
  padding: 10px;
  margin-top: 0px;
}

#select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
 
}

#select h1 {
  width: 100%;
  margin-left: 10px;
 
}



#news {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

#new {
  background-color: white;
  padding: 20px;
}

#best {
  background-color: white;
  padding: 20px;
}

#crush {
  background-color: white;
  padding: 20px;
}


/*footer*/

footer {
  background-color: #e48de1;
}

#bottombar {
  background-color: #f6d4f5;
  display: flex;
  justify-content: space-around;
}

#info {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  
}

#info article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

