header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 50px;
}

/*boutons next et previous*/
.sons {
  width: 20%;
}

.play {
  display: flex;
  justify-content: space-between;
}

.play i {
  width: 50px;
  padding: 5px;
}

/*Curseur volume */
.volume {
  display: flex;
}

.volume input {
  width: 70%;
}

.volume i {
  width: 40px;
  padding: 5px;
}

/*Titre */
.Titre {
  width: 30%;
}

h2,
p {
  margin-top: 0;
}

.Titre input {
  width: 100%;
}

/* bouton Recherche*/
.recherche input {
  margin: -5px;
}

button {
  border-radius: 5px;
}

/* Menu de navigation */
nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

nav a {
  text-decoration: none;
  border: 1px solid black;
  list-style: none;
  width: 100px;
  padding: 10px;
  font-size: 1.2em;
  color: rgb(0, 132, 255);
}

nav a:hover {
  background-color: rgb(163, 181, 187);
}

#Vidéos {
  border-top: none;
  border-bottom: none;
}

/*Pochette de music*/
.album {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  text-align: center;
  color: rgb(0, 132, 255);
}

.pochettes {
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.377);
  border: 2px solid rgb(218, 211, 211);
  padding: 5px;
}

.contenue {
  display: flex;
}

span {
  font-size: large;
}

/*Responsive*/
@media screen and (max-width: 1200px) {
  .play i {
    width: 30px;
    padding: 5px;
  }

  .volume i {
    width: 20px;
    padding: 5px;
  }

  .pochettes img {
    width: 100%;
  }

  .album {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
  }
}

@media screen and (max-width: 992px) {
  .play i {
    width: 30px;
    padding: 5px;
  }

  .volume i {
    width: 20px;
    padding: 5px;
  }

  .pochettes img {
    width: 100%;
  }

  .album {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
  }
}

@media screen and (max-width: 768px) {
  .play i {
    width: 10px;
    padding: 5px;
  }

  .volume i {
    width: 20px;
    padding: 5px;
  }

  .sons {
    width: 25%;
  }

  .album {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
  }
}

@media screen and (max-width: 576px) {
  .play i {
    width: 100px;
    padding: 5px;
  }

  .volume i {
    width: 70px;
    padding: 5px;
  }

  .sons {
    width: 100%;
  }

  .album {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }

  .recherche input {
    margin-top: 70px;
  }

  .Titre {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  nav a {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .contenue {
    display: block;
  }

  hr {
    display: none;
  }

  .album {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }

  .recherche {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }
  .recherche input {
    width: 90%;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .recherche button {
    width: 10%;
    padding: 5px;
  }

  .Titre {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    width: 95%;
  }

  .Titre input {
    width: 98%;
  }

  .play i {
    width: 80px;
    padding: 5px;
  }

  #démarer i {
    width: 10%;
  }

  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
  }
}
